/*底部*/

.footer {
    width: 100%;
    height: auto;
    /* margin: 0 auto; */
}

.l_ft_con {
    width: 200px;
}

.fl {
    margin-left: 20px;
}

.fr {
    float: right;
    margin-right: 20px;
}

.ft_top {
    width: 100%;
    height: 98px;
    background: #ffd24f;
}

.l_ft_con a {
    display: block;
}


/* .l_ft_con a:target {
    background: #f7edd2;
} */

.l_ft_con a:hover {
    opacity: .5;
}

.l_ft_con a h2 {
    padding-top: 25px;
    line-height: 32px;
    font-size: 32px;
    color: #fff;
    font-weight: normal;
}

.l_ft_con a span {
    display: block;
    line-height: 14px;
    margin-top: -15px;
    /* margin-left: 20px; */
    padding-bottom: 25px;
    font-size: 13px;
    color: #fff;
}

.r_share {
    /* background-color: rgb(94, 64, 64); */
    background-position: 0 0 !important;
    height: 60px;
    margin-top: -85px;
    /* margin-right: 100px; */
    /* width: px; */
    float: right;
    /* padding: 40px; */
    display: block;
}

.bds1 {
    display: block;
    width: 45px;
    height: 45px;
    /* margin: 30px 54px 30px 0; */
    background-image: url(/images/电话_line.png);
    background-position: 0 0 !important;
}

.bds2 {
    display: block;
    width: 45px;
    height: 45px;
    margin-top: -45px;
    margin-left: 80px;
    background-image: url(/images/微博_line.png);
    background-position: 0 0 !important;
}

.bds3 {
    display: block;
    width: 45px;
    height: 45px;
    margin-left: 30px;
    margin-top: -45px;
    margin-left: 160px;
    background-image: url(/images/微信_line.png);
    background-position: 0 0 !important;
}


/* 
.r_share .bds_fbook {
    width: 48px;
    height: 48px;
    line-height: inherit;
    margin: 30px 54px 30px 0;
    background-image: url(../images/facebook.png);
    background-position: 0 0 !important;
} */

.ft_btm {
    width: 100%;
    height: 40px;
    margin-top: -20px;
    background: #eee;
}

.copyright {
    height: 100%;
}

.copyright p {
    height: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #636363;
}

.r_ft_info {
    line-height: 30px;
    margin-top: -48px;
}

.r_ft_info a {
    margin-left: 22px;
    font-size: 12px;
    color: #898989;
}

.r_ft_info a:hover {
    color: #464545;
}