/* * {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
} */

.mainMenu {
    position: fixed;
    /* z-index: 999; */
    left: 0;
    top: 50%;
    width: 50px;
    padding: 10px;
    color: #fff;
    background-color: #ffd24f;
    border-radius: 0 10px 10px 0;
}


/* 
.mainMenu h3 {
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 3px;
    font: 700 18px PT Sans;
    padding: 5px;
    margin: 0 0 10px;
    border-bottom: 2px dotted yellow;
} */

.ee {
    list-style-type: none;
    margin-left: 5px;
}

.rr {
    padding: 3px 0;
}

.ww {
    color: black;
    /* background-color: #ffd24f; */
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font: 600 20px Sans;
    margin-left: -20px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}

.ww:before {
    /* font-family: 'FontAwesome'; */
    /* font-size: 14px; */
    content: '\f10d';
    padding-left: -10px;
}

.ww:hover {
    color: rgba(255, 255, 255, 0.9);
    margin-left: -10px;
}

.ww:hover:before {
    content: '\f064';
}

.ww.active {
    /* font-weight: 900; */
    color: #ffffff;
    margin-left: -10px;
}

.ww.active:before {
    content: '\f00c';
}

.sectionOnePage {
    width: 100%;
    height: 100vh;
}

.sectionOnePage#tata {
    background-color: #ffd24f;
}

.sectionOnePage#tete {
    background-color: #ffffff;
}

.sectionOnePage#titi {
    background-color: #ffd24f;
}

.sectionOnePage#toto {
    background-color: #fffbdf;
}

.sectionOnePage .content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font: 900 72px 'Lato';
    color: #fff;
    text-transform: uppercase;
}

.backToTop {
    /* z-index: 999; */
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: block;
}

.backToTop a {
    color: #fff;
}

.backToTop a i {
    font-size: 32px;
}

.img {
    background-color: #ffd24f;
    margin: 0 auto;
    width: 1440px;
    height: 600px;
    /* position: relative; */
    /* text-align: center; */
    /* line-height: 18px; */
    /* padding-top: 33px; */
    /* font-size: 14px; */
    /* float: left; */
}

.vv {
    color: #ffd24f;
}