.fuli {
    width: 950px;
    /* height: 2000px; */
    border: 3px solid #ffd24f;
    border-radius: 10px;
}

.fuli_ {
    width: 900px;
    /* height: 1000px; */
    /* display: block; */
    /* margin-top: 50px; */
    /* margin-bottom: 1000px; */
    /* background-color: rgb(22, 255, 158); */
}

.zhonglei {
    width: 900px;
    height: 80px;
    /* display: block; */
    margin-top: 40px;
    margin-bottom: 10px;
    /* background-color: rgb(139, 255, 23); */
    border-block-end: solid 2px #ffd24f;
}

.ppp {
    margin-left: 30px;
    /* margin-bottom: 30px; */
    background-color: #ffd24f;
    width: 100px;
    height: 40px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    letter-spacing: .25em;
    text-transform: uppercase;
    padding-top: 20px;
    border-radius: 15px;
    text-align: center;
}

#xiangxi {
    width: 850px;
    /* background-color: rgb(71, 30, 255); */
    height: 100%;
    padding-top: 15px;
    padding-left: 30px;
    padding-bottom: 15px;
    margin-bottom: 50px;
    WORD-WRAP: break-word;
    TABLE-LAYOUT: fixed;
    word-break: break-all;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(0, 0, 0.7);
}